* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf1ec;
}


.bad-car{
    font-size: 10px;
}

.catego-item {
   cursor: pointer;
    width: 150px;
}
.icon-category{
    font-size: 25px;
}

.nombre-category {
    font-weight:500;
}